.container
  .row
    %h1
      = @suite.owner
      's build from
      = timeago_tag @suite.created_at
  .row
    .bg-white.col-md-12
      %h3 Messages
      .well
        %code
          = @suite.messages.html_safe
      %h3 Failures
      .well
        %code
          = simple_format @suite.failures
